<div *ngIf="album">
  <header class="album-header">
    <div class="row">
      <div class="col-md-4">
        <img src="{{album.images[0].url}}" alt="" class="album-thumb">
      </div>
      <div class="col-md-8">
        <h4 *ngIf="album.artists.length > 0"><span *ngFor="let artist of album.artists">{{artist.name}}</span></h4>
        <h2>{{album.name}}</h2>
        <h5>Release Date: {{album.release_date}}</h5>
        <a href="{{album.external_urls.spotify}}" target="_blank" class="btn btn-primary">View in spotify</a>
      </div>
    </div>
  </header>
  <div class="album-tracks">
    <h2>Album Tracks</h2>

    <app-track *ngFor="let track of album.tracks.items, let i = index"
               [id]="i"
               [track]="track"
               (onIdChange)="activeId = $event"
               [activeId]="activeId"
    ></app-track>

  </div>

</div>


<!--*ngFor="let track of album.tracks.items, let i = index" (click)="togglePreview(track)-->
